.characterName {
  font-family: 'Lemonada', sans-serif;
}

li div {
  background: #fff;
  width: 300px;
  height: 300px;
  padding: 25px 10px;
  border-radius: 15px;
  box-shadow: 10px 10px #000;
}

li div p {
  margin: 10px;
  font-size: 24px;
}

li a {
  color: coral;
  text-shadow: 1px 1px #000;
}

li div img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}