body {
  background: #FF7F50;
  font-family: sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

h1 {
  color: #000;
  text-shadow: 2px 2px #FFF;
  text-align: center;
  font-size: 48px;
  font-family: 'Lemonada', sans-serif;
}